
.todas {
    height: 450px;
    width: 450px;
    position: absolute;
    top: 20vh;
    left: calc(50vw - 220px);
    box-shadow: 0px 0px 200px 300px rgb(155, 211, 145), inset 0px 0px 50px 100px rgb(155, 211, 145);
}

h1 {
    position: absolute;
    z-index: 1;
    top: 6vh;
    width: 500px;
    text-align: center;
    left: calc(50vw - 250px);
    background-color: yellow;
    box-shadow: 0 0 5px 5px yellow;
    border-radius: 5px;
    padding: 15px;
}

.pentaculo {
    position: absolute;
}

.boton {
    position: absolute;
    background-color: yellow;
    box-shadow: 0px 0px 50px 20px yellow;
    border-radius: 100%;
    height: 50px;
    width: 50px;
}


.boton:hover {
    box-shadow: 0px 0px 50px 25px yellow;
}

.boton:active {
    background-color: rgb(92, 92, 29);
    box-shadow: 0px 0px 15px 5px yellow, inset -5px -5px 15px 10px rgb(31, 31, 31);
}

.apagado {
    background-color: rgb(70, 70, 70);
    box-shadow: 5px 5px 5px black, inset -5px -5px 15px 10px rgb(31, 31, 31);
    border-radius: 100%;
}

.apagado:hover {
    box-shadow: 7px 7px 10px black, inset -5px -5px 15px 10px rgb(31, 31, 31);
}

.apagado:active {
    background-color: rgb(92, 92, 29);
    box-shadow: 0px 0px 15px 5px yellow, inset -5px -5px 15px 10px rgb(31, 31, 31);
}


.uno {
    left: 200px;
}

.dos {
    top: 145px
}

.tres {
    top: 145px;
    left: 400px;
}

.cuatro {
    top: 380px;
    left: 75px;
}

.cinco {
    top: 380px;
    left: 325px;
}

.enhorabuena {
    height: 250px;
    width: 450px;
    font-size: 50px;
    text-align: center;
    background-color: greenyellow;
    border-radius: 20px;
    box-shadow: 10px 10px 50px;
    border: 3px solid black;
    position: absolute;
    top: 30vh;
    left: calc(50vw - 220px);
}

.intentos {
    font-size: 20px;
}

.reiniciar {
    background-color: green;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 5px 5px 10px;
    width: 152px;
    margin: 8px;
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 24px;
        width: 440px;
        left: calc(50vw - 220px);
    }

    .enhorabuena {
        height: 170px;
        width: 360px;
        font-size: 35px;
        left: calc(50vw - 180px);
    }
}