<h1> Trata de encender todas las luces <br>
  pulsando sobre las gárgolas. </h1>
<div class="todas">
  <img class="fondo" src="assets/3D/completo.jpg">

  <img class="imagenes" [class.mostrar]="interruptores[0]" src="assets/3D/0.png">
  <img class="imagenes" [class.mostrar]="interruptores[1]" src="assets/3D/1.png">
  <img class="imagenes" [class.mostrar]="interruptores[2]" src="assets/3D/2.png">
  <img class="imagenes" [class.mostrar]="interruptores[3]" src="assets/3D/3.png">
  <img class="imagenes" [class.mostrar]="interruptores[4]" src="assets/3D/4.png">


  <button class="boton cero" (click)="boton(0)"
    [ngClass]="{'': interruptores[0], 'apagado': !interruptores[0]}"></button>
  <button class="boton uno" (click)="boton(1)"
    [ngClass]="{'': interruptores[1], 'apagado': !interruptores[1]}"></button>
  <button class="boton dos" (click)="boton(2)"
    [ngClass]="{'': interruptores[2], 'apagado': !interruptores[2]}"></button>
  <button class="boton tres" (click)="boton(3)"
    [ngClass]="{'': interruptores[3], 'apagado': !interruptores[3]}"></button>
  <button class="boton cuatro" (click)="boton(4)"
    [ngClass]="{'': interruptores[4], 'apagado': !interruptores[4]}"></button>
</div>

<div *ngIf="fin == true" class="enhorabuena">
  <br> ¡¡¡¡Enhorabuena!!!! <br>
  <div class="intentos">Lo has conseguido en {{intentos}} intentos.</div>
  <button class="reiniciar" (click)="reiniciaraleatorio(false)"> Modo inicial</button>
  <button class="reiniciar" (click)="reiniciaraleatorio(true)"> Modo aleatorio</button>
</div>

<div class="botones">
  <button class="reiniciar" (click)="reiniciaraleatorio(false)">Reiniciar <br>(modo inicial)</button>
  <a href="https://carloscanav.github.io">
    <button class="reiniciar">Volver al portafolio</button>
  </a>
</div>