.todas {
    height: 450px;
    width: 450px;
    position: absolute;
    top: 20vh;
    left: calc(50vw - 960px / 2);
    /* 
    box-shadow: 0px 0px 200px 300px rgb(155, 211, 145), inset 0px 0px 50px 100px rgb(155, 211, 145); */
}

.imagenes {
    position: absolute;
    z-index: -1;
    opacity: 0;
    transition: 0.2s;
}

.imagenes.mostrar {
    opacity: 1;
}


.fondo {
    position: absolute;
    z-index: -2;
}

h1 {
    position: absolute;
    z-index: 1;
    color: wheat;
    top: 6vh;
    width: 500px;
    text-align: center;
    left: calc(50vw - 250px);/* 
    background-color: yellow;
    box-shadow: 0 0 5px 5px yellow; */
    border-radius: 5px;
    padding: 15px;
}


.boton {
    position: absolute;
    background-color: rgba(255, 0, 0, 0);
    border: none;
    height: 200px;
    width: 200px;
}

/* 
.boton:hover {
    box-shadow: 0px 0px 50px 25px yellow;
}

.boton:active {
    background-color: rgb(92, 92, 29);
    box-shadow: 0px 0px 15px 5px yellow, inset -5px -5px 15px 10px rgb(31, 31, 31);
}
 */
.apagado {
    background-color: rgba(255, 0, 0, 0);
    border: none;
}

/* 
.apagado:hover {
    box-shadow: 7px 7px 10px black, inset -5px -5px 15px 10px rgb(31, 31, 31);
}

.apagado:active {
    background-color: rgb(92, 92, 29);
    box-shadow: 0px 0px 15px 5px yellow, inset -5px -5px 15px 10px rgb(31, 31, 31);
} */


.cero {
    left: 385px;
}

.uno {
    top: 100px;
    left: 180px;
}

.dos {
    top: 100px;
    left: 585px;
}

.tres {
    top: 290px;
    left: 250px;
}

.cuatro {
    top: 290px;
    left: 530px;
}

.enhorabuena {
    color: wheat;
    height: 250px;
    width: 450px;
    font-size: 50px;
    text-align: center;
    background-color:rgb(12, 10, 7);
    border-radius: 20px;
    box-shadow: 10px 10px 50px black;
    border: 3px solid black;
    position: absolute;
    top: 30vh;
    left: calc(50vw - 220px);
}

.intentos {
    font-size: 20px;
}

.reiniciar {
    background-color: wheat;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 5px 5px 10px;
    width: 152px;
    margin: 8px;
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 24px;
        width: 440px;
        left: calc(50vw - 220px);
    }

    .enhorabuena {
        height: 170px;
        width: 360px;
        font-size: 35px;
        left: calc(50vw - 180px);
    }
}